.image{
    background-image: url("../images/background.jpg");
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: multiply;
    height:400px;
    width: 100%;
    cursor:pointer;
    background-position: center;
    background-size: cover;
}

.image:hover{
    filter:brightness(50%);
    transition: all 1s ease;
}
